<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Semantic-UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
  <!-- bootstrap-datetimepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css" />

  <title>{% block title %}MMCB系統{% endblock title %}</title>
  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }
    .main.container {
      margin-top: 7em;
      margin-bottom: 3em;
    }
    .wireframe {
      margin-top: 2em;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>
</head>

<body>
  {% block body %} {% load carton_tags %}{% get_cart as cart %}

  {% block menu %}
  <div class="ui fixed stackable pink menu">
    <a href="https://www.facebook.com/groups/782843298497085/" class="header item">
      <img src="{{STATIC_URL}}/navHead.png" alt="MMCB Logo" /> MaMaCrazyBuy
    </a>
    <a class="item" href="{% url 'store' %}"><i class="gift icon"></i>商店</a>
    <a class="item" href="{% url 'cart:shopping-cart-show' %}" value="{{ cart.unique_count }}"><i class="cart icon"></i>購物車</a>
    {% if user.is_authenticated %}
    <a class="item" href="{% url 'member:page' %}"><i class="user icon"></i>會員中心</a>
    <!-- <div class="ui bottom right attached medium pink label"><i class="sign in icon"></i>{{ request.user.personalinfo.name }} 已登入</div> -->
    {% else %}
    <!-- <div class="ui bottom right attached medium pink label"><i class="pointing left icon"></i>尚未登入</div> -->
    {% endif %}
    {% if user.is_staff %}
    <a class="item" href="{% url 'posts:page' %}"><i class="setting icon"></i>管理系統</a>
    {% endif %}
    <div class="right menu">
      <div class="item">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'account_logout' %}">{% csrf_token %} {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}
          <button class="ui inverted red button"><i class="sign out icon"></i>登出</button>
        </form>
        {% else %}{% load socialaccount %}{% providers_media_js %}
        <a href="{% provider_login_url 'facebook' %}"><button class="ui facebook button"><i class="facebook icon"></i>Facebook 登入</button></a> {% endif %}
      </div>
    </div>
  </div>
  {% endblock menu %}

  <div class="ui main container">
    {% block content %}{% endblock content %}
  </div>

  <div class="ui paginator container">
    {% block paginator %}{% endblock paginator %}
  </div>

  <div class="ui divider"></div>
  <div class="ui basic segment"></div>

  <div class="ui footer container">
    <div class="ui stackable four column grid">
      <div class="column">
        <h3 class="ui dividing header">NAVIGATION </h3>
        <div class="ui link list">
          <a class="item" href="{% url 'store' %}">商店</a>
          <a class="item" href="{% url 'cart:shopping-cart-show' %}">購物車</a>
          <a class="item" href="{% url 'member:page' %}">會員中心</a>
        </div>
      </div>
      <div class="column">
        <h3 class="ui dividing header">DETAILS </h3>
        <div class="ui link list">
          <a class="item">商品保養</a>
          <a class="item">運送方式</a>
          <a class="item">退貨 ＆ 換貨</a>
          <a class="item">隱私政策</a>
        </div>
      </div>
      <div class="column">
        <h3 class="ui dividing header">加入 MMCB 的行列 </h3>
        <a href="https://www.facebook.com/groups/782843298497085/">
          <button class="ui facebook f icon button">
            <i class="facebook f icon"></i>
          </button>
        </a>
        <button class="ui instagram icon button">
          <i class="instagram icon"></i>
        </button>
      </div>
      <div class="column">
        <h3 class="ui dividing header">MAMACRAZYBUY </h3>
        <div class="ui link list">
          <a class="item">關於MMCB</a>
          <a class="item">聯絡MMCB</a>
        </div>
      </div>
    </div>
    <div class="ui center aligned basic segment">
      <p>CONTACT US /　MON ~ FRI　02-0000-0000　AM 9:30 ~ PM 18:00</p>
      <p>mmcbofficial@gmail.com</p>
    </div>
  </div>

  {% block footer %}{% endblock footer %}
  {% endblock body %}

  {% block js-foot %}
  <!-- jQuery first, then Bootstrap JS and Semantic-ui -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  <script type="text/javascript">
    function detectmob() {
     if(navigator.userAgent.match(/Android/i)
     || navigator.userAgent.match(/webOS/i)
     || navigator.userAgent.match(/iPhone/i)
     || navigator.userAgent.match(/iPad/i)
     || navigator.userAgent.match(/iPod/i)
     || navigator.userAgent.match(/BlackBerry/i)
     || navigator.userAgent.match(/Windows Phone/i)
     ){
        $(".main.container").css("margin-top", "22em");
      } else {
        $(".main.container").css("margin-top", "7em")
      }
    };
    function carton_count() {
      var menu_items = $('.ui.pink.menu').find('a');
      for(i=0; i<menu_items.length; i++){
        if(menu_items[i].getAttribute('href') == '/cart/'){
          cart_item = menu_items[i]
          var cart_count = cart_item.getAttribute("value");
          if (cart_count > 0){
            cart_item.innerHTML = "<i class='cart icon'></i>購物車(" + cart_count + ")";
            cart_item.style.fontWeight = "Bold";
          }
        }
      }
    };
    function active_ornot() {
      $('.ui.pink.menu').find('a').on({
        mouseenter: function() {
          $(this).addClass('active');
        },
        mouseleave: function() {
          $(this).removeClass('active');
        }
      });
    };

    $(document).ready(function() {
      detectmob();
      carton_count();
      active_ornot();
    });
  </script>
  {% endblock js-foot %}
</body>

</html>
